* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  justify-content: center;
  gap: 50px;
  height: 100vh;
}

.canva {
  background-color: white;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border-radius: 15px;
  border: 0 transparent;
  color: white;
  font-size: 2.1rem;
  align-items: center;
  padding: 15px;
}

.btn__draw {
  background-color: #95ca3e;

}

.btn__draw:hover {
  background-color: #76a727;
  cursor: pointer;
}

.btn__erase {
  background-color: #ca3e3e;

}

.btn__erase:hover {
  background-color: #a82008;
  cursor: pointer;
}

.success {
  color: #95ca3e;
  font-weight: 700;
  border: 1px solid #95ca3e;
  border-radius: 15px;
  padding: 25px;
  font-size: 1.6rem;
}

.alert {
  color: #ca3e3e;
  font-weight: 700;
  border: 1px solid #ca3e3e;
  border-radius: 15px;
  padding: 25px;
  font-size: 1.6rem;
}